@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700);

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #AA2EE6, #FFA900);
	font-family: ubuntu;
}

header {
  display: flex;
  align-items: center;
  /* background: #e7e7ff; */
}

h1 {
  color: white;
}

header img {
  width: 50px;
  background: white;
  border-radius: 5px;
  margin: 0 20px 0 40px;
}

article {
  background: #F6DFEB;
  border: 3px solid #FC92E3;
  width: 90%;
  margin: 20px auto;
  border-radius: 2rem;
  padding: 10px;
}

hr, article .date {
  color: #a0a0a0;
}

.git-icon {
  margin-left: 5rem;
  color: #F6DFEB;
  cursor: pointer;
  text-decoration: none;
}

.linkedin-icon {

  margin-left: 2rem;
  color: #F6DFEB;
  cursor: pointer;
  text-decoration: none;

}